/* background colour fade animation */
@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  
  body {
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }
  h1 {
    text-align: center;
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
  }

/* navbar styling */


/* homepage styling */

a {
  color: antiquewhite;
}

a:hover {
  color: #36454F;
  text-decoration: none;
}



/* blockbattle styling */

.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: double #36454F 5px;
    margin-top: 50px;
    background: white;
}

.grid2 {
  position: absolute;
  width: 280px;
  height: 350px;
  border: double #36454F 5px;
  margin-top: 50px;
  background: white;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #36454F;
}

.block2 {
  position: absolute;
  width: 50px;
  height: 20px;
  background-color: #36454F;
} 

.player {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #008080;
}

.player2 {
  position: absolute;
  width: 50px;
  height: 20px;
  background-color: #008080;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #BC3823;
}

.ball2 {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background: #BC3823;
} 

/* game placement styling */

.container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 250px;
}

.block-score-container {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 250px;
}

.control-container-snaketop {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 250px;
}

.control-container-snakeother {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

#textbox {
  padding-top: 100px;
}

#modal {
  margin-top: 20px;
}

/* quiz */


*{
  box-sizing: border-box;
} 

#quiz-game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  overflow: hidden;
  margin: 0;
} 

.quiz-container{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

.quiz-header{
  padding: 3rem;
} 

h3 {
  padding: .5rem;
  text-align: center;
  margin: 0;
} 

ul{
  list-style-type: none;
  padding: 0;
} 

#quiz-list {
  font-size: 1.2rem;
  margin: 1rem 0;
} 

ul li label{
  cursor: pointer;
} 

#submit {
  background-color: #03cae4;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}

button:hover{
  background-color: #04adc4;
}

button:focus{
  outline: none;
  background-color: #44b927;
} 

#memory-card {
  margin-bottom: 25px;
}

/* spacesnake styling */

#snakeboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score {
  text-align: center;
  font-size: 50px;
}

#left-snake-button {
  margin-right: 15px;
}

#right-snake-button {
  margin-left: 15px;
}

/* card styling */

.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}

.list-group {
  text-align: left;
}

/* contact form styling */

.contact-heading {
  color: #fafafa;
  text-decoration: bold;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
}

.center-form {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  max-width: 70%;
}

.contact-form-section {
  margin-top: 50px;
  padding-bottom: 75px;
}

.contact-form {
  border-radius: 5px;
  background-color: #36454F;
  padding: 20px;
}

#contact-button {
  margin-top: 25px;
}

/* ---------------------------------------------------------- footer */

.footer {
  background: #36454F;
  padding: 10px 0;
}
.footer a {
  color: #fafafa;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}

