/* background colour fade animation */
@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  
  body {
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }
  h1 {
    text-align: center;
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
  }

/* blockbattle styling */
.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: double #36454F 5px;
    margin-top: 50px;
    background: white;

}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #36454F;
}

.player {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #008080;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #BC3823;
}


/* memory grid styling */
#memoryGrid {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}